[Unit]
Description=ARK: Survival Evolved - Ragnarok Omega
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=5
User=multimax
WorkingDirectory=/opt/obobonicclean
# Ajuste o ExecStart para o comando correto do servidor ARK Ragnarok
ExecStart=/opt/obobonicclean/venv/bin/python /opt/obobonicclean/bot.py --map "Ragnarok Omega"

[Install]
WantedBy=multi-user.target
